body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

.competition-header {
    color: rgb(224, 30, 205);
}

h1 {
    font-size: 40px;
    margin-left: 20px;
}

.first-section {
    display: flex;
    margin-bottom: 100px;
}

.first-width {
    width: 50%;
    margin-left: 10%;
}

.first-width img {
    width: 60%;
    margin-top: 60px;
    margin-left: 30px;
}

.first-width p {
    font-size: 18px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#EC0404, #383535);
    padding: 10px 30px;
    border-radius: 10px;
}

.side-border {
    border-left: 4px solid orangered;
}

.second-section h1 {
    text-align: center;
}

.image-width {
    display: flex;
    margin-left: 100px;

}

.image-customize img {
    width: 40%;
}

.image-customize {
    border-radius: 10px;
    width: 300px;
    margin: 50px;
    padding: 30px;

}

#image-one {
    background-color: #c80b2e1a;
}

#image-two {
    background-color: rgba(21, 183, 183, 0.082);
}

#image-three {
    background-color: #dbde0742;
}